.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.searchInput {
  position: relative;
}

.searchIcon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translate(50%, -50%);
}

.searchIcon img {
  width: 24px;
  height: 24px;
}

input[type="search"] {
  padding: 10px;
  padding-left: 50px;
  width: 100%;
  font-size: 20px;
  border: 1px solid #d6d6d6;
  text-transform: capitalize;
}

table {
  width: 100%;
  text-align: left;
  margin-top: 50px;
}

th,
td {
  border: 1px solid #d6d6d6;
  padding: 10px;
}
